.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #DC6A8D;
    border-color: #DC6A8D ;
    color: #ffffff;
  }
  .pagination > li > a{
    font-family: "mont-regular";
    border-radius: 50%;
    color: #556EA1 !important;
    padding: 5px 13px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #DC6A8D ;
    border-color: #DC6A8D;
    outline: none ;
    color: #ffffff !important;
  }
  .pagination > li > a, .pagination > li > span{
    color: #DC6A8D
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }